<app-navigation></app-navigation>

<h1>All plans</h1>

<main class="container">
    <div class="container-wrapper" (click)="goToPlan(i)" *ngFor="let plan of this.plans; index as i">
        
        <div class="plan-inner">
            <p class="plan-description">Name:</p>  
            <p class="plan-dynamic">{{ plan['name'] }}</p>
        </div>
        
        <div class="picture-container">
            <img [src]="plan['imageBase64']" alt="picture cannot be loaded">
        </div>

    </div>

</main>