<nav class="navigation">
    <ul>
        <li class="item name"><span>MULTISPORT</span></li>
        <li class="item" [ngStyle]="{display: isAdmin ? 'inline-block' : 'none'}" routerLink="/multisport/admin">
          <span>Admin</span>
        </li>
        <li class="item dissapear" [ngStyle]="{display: show ? 'inline-block' : 'none'}"><span>Sport centers</span></li>
        <li class="item dissapear" [ngStyle]="{display: show ? 'inline-block' : 'none'}"><span>Relax centers</span></li>
        <li class="item dissapear" [ngStyle]="{display: show ? 'inline-block' : 'none'}"><span>Plans</span></li>
        <li class="item btn"><span (click)="setLogin()" >Login</span></li>
        <li class="item btn"><span (click)="setSingIn()">Sing up</span></li>
        <li class="item menu" (click)="chacgeClicked()"><span></span></li>
    </ul>
    <app-registration *ngIf="popupBtn == 'Sing in'" [btnRegistrationPopup]="popupBtn"
      (registrationEventEmitter)="normalise($event)" (isAdminEventEmitter)="setUserRole($event)">
    </app-registration>
    <app-login *ngIf="popupBtn == 'Login'" [btnLoginPopup]="popupBtn"
     (loginEventEmitter)="normaliseLogin($event)" (isAdminEventEmitter)="setUserRole($event)"></app-login>
</nav>
