<dialog class="popup" [ngClass]="{'dialog-open': (btnLoginPopup == 'Login'), 'dialog-closed': (btnLoginPopup == '')}">
    <header>
        <h2 id="title">Login</h2>
        <button id="close" (click)="close()">&times;</button>
    </header>

    <section id="content" >
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <div>
                <input type="text" name="email" id="email" class="input" placeholder="email" required email
                ngModel #myemail="ngModel" [(ngModel)]="email">
                <span *ngIf="myemail.invalid && myemail.touched" class="error">Invalid email</span>
            </div>
            
            <div>
                <input type="password" name="password" id="password" placeholder="Password" class="input"
                required ngModel #mypassword="ngModel" [(ngModel)]="password">
                <span *ngIf="mypassword.dirty == true && hasErrorPassword()" class="error">
                    Password must be at least 8 symbols, at least 1 number, at least one special symbol and a capital letter
                </span>
            </div>
            <div [ngStyle]="{'display': hasLoginError ? 'block' : 'none'}">
                <span class="error">User not found</span>
            </div>
            <div id="last">
                <input type="submit" [value]="btnLoginPopup" id="submit" [disabled]="!myForm.valid">
            </div>
        </form>
    </section>
</dialog>