<dialog class="popup" [ngClass]="{'dialog-open': (btnPopup == 'login' || btnPopup == 'singin'), 'dialog-closed': btnPopup == ''}">
    <header>
        <h2 id="title">Popup title</h2>
        <button id="close" (click)="close()">&times;</button>
    </header>

    <section id="content">
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <div [ngStyle]="{'display': btnPopup == 'Login'? 'none': 'flex'}">
           
                <input type="text" name="first-name" id="first-name" placeholder="First name" class="input" 
                ngModel required #fname="ngModel" [(ngModel)]="firstName">
                <span *ngIf="fname.dirty == true && (fname.value?.length < 4 || fname.value?.length > 16)" class="error">
                    First name must be from 4 to 16 letters
                </span>
                <span *ngIf="fname.dirty == true && hasErrorName()" class="error">
                   Letters only
                </span>
            </div>
    
            <div [ngStyle]="{'display': btnPopup == 'Login'? 'none': 'flex'}">
           
                <input type="text" name="second-name" id="second-name" placeholder="Second name" class="input"
                  ngModel required #sname="ngModel" [(ngModel)]="secondName">
                <span *ngIf="sname.dirty == true && (sname.value.length < 4 || sname.value.length > 16)" class="error">
                    Second name must be from 4 yo 16 letters
                </span>
                <span *ngIf="sname.dirty && hasErrorSecondName()" class="error">Letters only</span>
                
            </div>
    
            <div>
                <input type="email" name="email" id="email" class="input" placeholder="Email" ngModel required email
                #myemail="ngModel" [(ngModel)]="email">
                <span *ngIf="myemail.touched && myemail.invalid" class="error">Invalid email</span>
            </div>
            
            <div>
                <input type="password" name="password" id="password" class="input" placeholder="Password" ngModel required
                #mypassword="ngModel" [(ngModel)]="password">
                <span *ngIf="mypassword.dirty == true && hasErrorPassword()" class="error">Wrong password</span>
            </div>

            <div>
                <input type="text" name="age" id="age" class="input" placeholder="age" ngModel required
                #myage="ngModel" [(ngModel)]="age">
                <span *ngIf="myage.dirty == true && myage?.value < 16 || myage?.value > 100" class="error">
                    Age must be between 16 and 100</span>
            </div>
            
            <div id="last">
                <input type="submit" [value]="btnPopup" id="submit">
            </div>
        </form>

    </section>

</dialog>