<h2>Add plan</h2>

<div class="wrapper">
    <section id="content">
        <form id="form" #planForm="ngForm">
            <div class="content-inner">
                <input type="text" name="name" id="name" class="input-field" placeholder="Enter name of plan"
                required ngModel #planName="ngModel" [(ngModel)]="name">
                <span *ngIf="planName.dirty && (name.length < 4 || name.length > 20)" class="error">
                    Name must be more than 4 letters
                </span>
            </div>
            <div class="content-inner">
                <input type="number" name="price" id="price" class="input-field" placeholder="Enter price"
                required ngModel #fprice="ngModel" [(ngModel)]="price">
                <span *ngIf="fprice.dirty == true && price < 10" class="error">
                    Price must be greater than 10
                </span>
            </div>
            <div class="content-inner content-centers">
                <div class="add-center-wrapper">
                    <input type="text" name="centers" id="address" class="input-field" placeholder="Enter address of center"
                    ngModel #centername="ngModel" [(ngModel)]="addressCenter">
                    <button type="button" id="add-center" (click)="addCenter()" 
                     [disabled]="disableAddCenterBtn()">Add Address
                    </button>
                </div>

                <div class="add-center-wrapper">
                    <span *ngIf="centerHasErrors()"
                         class="error">Center name must be between 4 and 20 symbols</span>
                </div>

                <div class="add-center-wrapper">
                    <input type="file" id="file" (change)="loadPicture($event)" required>
                </div>

            </div>
            <div class="content-inner">
                <button id="submit" [disabled]="!planForm.valid || centersAddresses.length == 0" (click)="submitPlan()">Add plan</button>
                <span *ngIf="centersAddresses.length == 0 && isSubmitTouched" class="error" id="submit-error">You must eneter centers to plan</span>
            </div>
        </form>
    </section>
    <section id="list-centers">
        <p *ngIf="centersAddresses.length == 0" class="p-info-centers">No centers yet</p>
        <p *ngIf="centersAddresses.length != 0" class="p-info-centers">Go to center:</p>
        <div id="list-centers-inner" *ngFor="let center of centersAddresses">
            <p class="center-link">{{ center }}</p>
        </div>
    </section>
</div>
