*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 30px;
}

h1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1 > span {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

#main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    padding: 10px 50px;
}

h2 > span {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: sans-serif;
}

.container {
    padding: 10px;
}

.container > span {
    font-family: sans-serif;
     font-size: 1.2rem;
}
.section.description {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: -1;
}

.container-inner  > p {
    font-family: sans-serif;
    font-size: 1.2rem;
}

.section.carosel {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}

.container.image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.carousel-btn {
    z-index: 2;
    border: none;
    position: absolute;
    top: 50%;
    background: none;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, .1);
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, .2);
}

.carousel-btn.next {
    right: 0%;
}

ul {
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
}

.non-active {
    opacity: 0;
}

.active {
    transition: 0.5s;
    opacity: 1;
}

.container > ul > li > img {
    width: 100%;  
    height: 90%;
    border-radius: 10px;
}

.section.rating {
    grid-row-start: 3;
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section.rating > .container > span {
    font-family: sans-serif;
    font-size: 1.2rem;
}

.comments {
    padding: 10px 50px;
}

#container-rating {
    display: flex;
    flex-direction: column;
}