<app-navigation></app-navigation>

<header>
    <h1>
        <span>Relax Center: </span>
        <span> {{this.name}} </span>
    </h1>
</header>


<main id="main">

    <section class="section info">
        <h2 class="container">
            <span>Information about </span>
            <span>{{this.name}}:</span>
        </h2>
    

        <div class="container">
            <span>
                Address:
            </span>
            <span>
                {{this.address}}
            </span>
        </div>
    </section>

    <section class="section description">
        <div class="container">
            <div class="container-inner" *ngFor="let paragraph of description">
                <p>{{paragraph}}</p>
                <br>
            </div>
        </div>
    </section>

    <section class="section carosel">
        <button class="carousel-btn prev" (click)="moveLeft()">&#8678;</button>
        <button class="carousel-btn next" (click)="moveRight()">&#8680;</button>
        <div class="container image" *ngFor="let picture of pictures; index as i">
            <ul>
                <li class="slide" [ngClass]="i == currentImageIndex ? 'active' : 'non-active'">
                    <img [src]="picture" alt="no image">
                </li>
            </ul>

        </div>
    </section>

    <section class="section rating">
        <div class="container" id="container-rating">
            <app-rating></app-rating>        
        </div>
    </section>
</main>

<section class="services">
    <span>Services:</span>
    <div class="service-inner" *ngFor="let service of services">
        <span> {{service}} </span>
    </div>
</section>

<footer class="comments">
    <app-comments (addCommentEventEmitter)="addCommentRequest($event)" [comments]="comments"></app-comments>
</footer>