<app-navigation></app-navigation>



<main class="container">
    <h1>Живей активно с MULTISPORT!</h1>

    <video [loop]="true" [muted]="true" [autoplay]="true" id="video">
        <source src="./../../assets/intro.mp4" type="video/mp4">
    </video>
</main>


<dialog open="true" class="pop-up">
    <header>
        <h2 id="title">Popup title</h2>
        <button id="close">&times;</button>
    </header>

    <section id="content">
        <div>
            <span class="error">Wrong text</span>    
            <input type="text" name="first-name" id="first-name" placeholder="First name" class="input">
        </div>

        <div>
            <span class="error">Wrong text</span>    
            <input type="text" name="second-name" id="second-name" placeholder="Second name" class="input">
        </div>

        <div>
            <span class="error">Wrong text</span>
            <input type="email" name="email" id="email" placeholder="Emial" class="input">
        </div>

        <div>
            <span class="error">Wrong text</span>
            <input type="password" name="password" id="password" placeholder="Password" class="input">
        </div>

        <div>
            <span class="error">Wrong text</span>
            <input type="number" name="age" id="age" class="input" placeholder="Age">
        </div>

    </section>

    <footer>
        <button>Submit</button>
    </footer>
</dialog>