<section class="comment-container">
    <p>Leave a comment:</p>
    <textarea name="comment" id="comment" cols="100" rows="5" ngModel #comment="ngModel" [(ngModel)]="this.commentContent">

    </textarea>
    <button (click)="addComment()">Public Comment</button>
</section>

<section class="all-comments">
    <p id="comment-start">Comments:</p>
    <div class="all-comments-container" *ngFor="let comment of comments">
        <p class="comment-info">
            <!-- <span> {{ dateToString(comment.publishedAt) }}</span> -->
            <span>{{ comment.firstName }}</span>
            <span>{{ comment.lastName }}</span>
        </p>
        <p class="comment-content">
            {{comment.content}}
        </p>
    </div>
</section>