.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 50px;
    padding-right: 50px;
}

.status-deleted {
    font-family: sans-serif;
    font-size: 1rem;
    padding: 5px;
}

.deleted-none {
    display: none;
}

.deleted-error {
    display: block;
    color: #F50537;
}

.deleted-ok {
    display: block;
    color: #4ef037;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: sans-serif;
    font-size: 20px;
}

.delete {
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 5px;
    padding: 3px;
    border: none;
    background-color: #F50537;
    color: #fff;
    cursor: pointer;
}