* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    padding: 1%;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #003333;
    font-family: sans-serif;
}

.outer {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wrapper-inner {
    display: flex;
}

.input-field {
    flex-grow: 0.5;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 10px;
    border: 1px solid teal;
}

.input-field:focus, #text:focus{
    outline: 2px solid teal;
}

.error {
    color: red;
}


.wrapper.wrapper-area {
    display: flex;
    flex-direction: column;
}

#text {
    border-radius: 10px;
    padding: 5px;
    color: #252525;
    border: 1px solid teal;
    resize: none;
    font-size: 16px;
}


#submit {
    border: none;
    background-color: teal;
    padding: 5px;
    font-size: 16px;
    color: #fff;
    border-radius: 7px;
    flex-grow: 0.5;
    cursor: pointer;
}

form > div:last-child > .wrapper-inner{
    align-items: center;
    justify-content: center;
}

.nav-div {
    display: flex;
    padding: 8px;
    gap: 8px;
}

.nav-div > button {
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 5px;
    padding: 3px;
    border: none;
    background-color: teal;
    color: #fff;
    cursor: pointer;
}

#show-add {

}

#show-all {

}

#section-all-articles {

}