<div class="nav-div">
    <button id="show-add" (click)="displayAddArticle()">Add article</button>
    <button id="show-all" (click)="displayAllArticles()">All articles</button>
</div>
<h2 *ngIf="showAddArticle == true">Add article</h2>
<h2 *ngIf="showAllArticles == true">All articles</h2>

<main class="outer">
    <form *ngIf="showAddArticle == true" #articleForm="ngForm">
        <div class="wrapper">
            <div class="wrapper-inner">
                <input type="text" name="title" id="title" class="input-field" placeholder="Add title"
                required ngModel #ftitle="ngModel" [(ngModel)]="title" minlength="4" maxlength="50">   
            </div>
            <div class="wrapper-inner">
                <input type="file" name="file" id ="file" required (change)="loadPicture($event)">
            </div>
            <div class="wrapper-inner">
                <span *ngIf="ftitle.dirty && (title.length < 4 || title.length > 50)"
                class="error">Title must be between 4 and 50 charecters</span>
            </div>
        </div>
        <div class="wrapper wrapper-area">
            <textarea name="text" id="text" cols="100" rows="30" placeholder="Content of article"
            required ngModel #ftext="ngModel" [(ngModel)]="text"
            ></textarea>
        </div>
        <div [ngStyle]="{'display': errorMessage != '' ? 'block' : 'none'}" class="wrapper">
            <span class="error">{{errorMessage}}</span>
        </div>
        <div class="wrappper">
            <div class="wrapper-inner">
                <button id="submit" [disabled]="!articleForm.valid" (click)="submitArticle()">Submit</button>
            </div>
        </div>
    </form>

    <section *ngIf="showAllArticles == true" id="section-all-articles">
        <all-articles-admin></all-articles-admin>
    </section>
</main>